body {
  background: grey;
  padding: 0 2%;
  margin: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
h1 {
  color: #fcbe24;
}
p {
  margin: 1% 1%;
}
img {
  max-width: 100%;
  height: auto;
}
select {
  border-radius: 4px;
  padding: 5px;
  min-width: 170px;
  font-size: 1em;
}
a {
  display: block;
  height: 100%;
  color: white;
}
input {
  padding: 5px;
  max-width: 156px;
  font-size: 1rem;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 10px;
  max-width: 1000px;
  justify-content: center;
}
.flex-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 170px;
}
.pkmn-box {
  display: flex;
  align-items: center;
  max-width: 650px;
  padding: 10px 20px;
  margin: 20px auto;
  border-radius: 30px;
  background-color: #eeeeee;
  border: 2px solid #313131;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.pkmn-text-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}
.pkmn-right-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 150px;
  margin-left: auto;
  gap: 2px;
}
.rank-box {
  display: flex;
  align-items: center;
  min-height: 30px;
  padding-left: 4px;
  gap: 4px;
}
.type-box {
  display: flex;
  align-items: center;
  padding: 3px;
  gap: 4px;
  border-radius: 80px;
  min-height: 30px;
  background-color: #eeeeee;
}
.description-box {
  border-radius: 10px;
  max-width: 1000px;
  padding: 10px;
  margin: 5px auto;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.description-small {
  flex-grow: 1;
  font-size: 9pt;
  border-radius: 4px;
  padding: 10px;
  margin: 0 0 5px 0;
  overflow: hidden;
  background-color: #eeeeee;
}
.pkmn-name {
  font-size: 2rem;
  color: #343434;
}
.english-name {
  font-size: 1rem;
  color: #808080;
}
.shiny-text {
  font-size: 1rem;
  font-weight: bold;
  color: #fcbe24;
}
.pkmn-photo {
  float: left;
  min-width: 50px;
}
.rank-photo {
  max-width: 40px;
}
.button {
  border-radius: 15px;
  border: none;
  color: white;
  background-color: #086197;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button3 {
  background-color: #324f5f;
}
.button-title {
  max-width: 90px;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: #3a3b3b;
  padding: 5px 5px;
  text-align: center;
  font-size: 10pt;
  margin: 5px 0 0 auto;
}
.Normal{
  background-color: #DDDDDD;
}
.Kampf{
  background-color: #F7D3DA;
}
.Flug{
  background-color: #E6EDFA;
}
.Gift{
  background-color: #DFB9E9;
}
.Boden{
  background-color: #E4C1AF;
}
.Gestein{
  background-color: #E1D9BE;
}
.Käfer{
  background-color: #DCEDB2;
}
.Geist{
  background-color: #C9CEE8;
}
.Stahl{
  background-color: #CDE0E5;
}
.Feuer{
  background-color: #FDD5AB;
}
.Wasser{
  background-color: #ADD0F0;
}
.Pflanze{
  background-color: #CAE4B5;
}
.Elektro{
  background-color: #FAEFB5;
}
.Psycho{
  background-color: #FEC0E1;
}
.Eis{
  background-color: #D1EFEB;
}
.Drache{
  background-color: #98C9FB;
}
.Unlicht{
  background-color: #BBBAC1;
}
.Fee{
  background-color: #F6D6FA;
}
