body {
  background: grey;
  padding: 0 2%;
  margin: 0;
  height: 100vh;
  font-family: 'Gill Sans', 'Trebuchet MS', 'Gill Sans MT', Calibri, sans-serif;
}
h1 {
  color: #fcbe24;
}
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  max-width: 100%;
  height: auto;
}
select {
  border-radius: 4px;
  padding: 5px;
  min-width: 170px;
  font-size: 1em;
}
a {
  display: block;
  height: 100%;
  color: white;
}
input {
  padding: 5px;
  max-width: 156px;
  font-size: 1rem;
}
label {
  font-size: 1em;
  color: white;
}
.centered {
  align-self: center;
}
.choice-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  justify-content: center;
}
.flex-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 170px;
}
.result-info-box {
  display: flex;
  color: white;
  gap: 5px;
  max-width: 1000px;
  margin: auto;
}
.pkmn-box {
  display: flex;
  align-items: center;
  max-width: 650px;
  padding: 10px 20px;
  margin: 20px auto;
  border-radius: 30px;
  background-color: #eeeeee;
  border: 2px solid #313131;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  gap: 1%;
}
.pkmn-text-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}
.pkmn-right-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 120px;
  margin-left: auto;
  gap: 2px;
}
.rank-box {
  display: flex;
  align-items: center;
  min-height: 30px;
  gap: 4px;
}
.type-box {
  display: flex;
  align-items: center;
  padding: 3px;
  gap: 4px;
  border-radius: 80px;
  min-height: 40px;
  background-color: #eeeeee;
}
.description-box {
  border-radius: 10px;
  max-width: 1000px;
  padding: 20px;
  margin: 5px auto;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.description-small {
  flex-grow: 1;
  font-size: 9pt;
  border-radius: 4px;
  padding: 10px;
  margin: 0 0 5px 0;
  overflow: hidden;
  background-color: #eeeeee;
}
.pkmn-name {
  font-size: 2rem;
  color: #343434;
}
.english-name {
  font-size: 1rem;
  color: #808080;
}
.shiny-text {
  font-size: 1rem;
  font-weight: bold;
  color: #fcbe24;
  text-shadow: 1px 1px 2px #313131ab;
}
.pkmn-photo {
  float: left;
  width: 128px;
}
.type-photo {
  max-width: 40px;
}
.rank-photo {
  max-width: 30px;
  margin-right: 30px;
}
button {
  border-radius: 15px;
  border: none;
  color: white;
  background-color: #086197;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.button3 {
  background-color: #324f5f;
}
.reset-button {
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 10pt;
  height: 50%;
}
.button-title {
  max-width: 90px;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: #3a3b3b;
  padding: 5px 5px;
  text-align: center;
  font-size: 10pt;
  margin: 5px 0 0 auto;
}
.folding-section {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
/* This class is toggled by JS to open the div */
.folding-section.is-open {
  padding-bottom: 0px;
}

.accordion-item {
  border-radius: 18px;
  background-color: #2b2b2b;
  padding: 4px; /* Padding for when it's open */
  max-width: 1000px;
  margin: auto;
}

.toggle-button {
  width: 100%;
  background-color: #5f5c5c;
  text-align: left;
  /* Make room for the triangle and align text */
  position: relative;
  padding-left: 30px; /* Add space for the triangle */
}

.toggle-button::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  
  /* The CSS triangle trick */
  border-left: 10px solid currentColor; /* This is the visible part of the triangle */
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  
  /* Animate the rotation */
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.3s ease-out;
}

/* This class will be added via JS when the button is active */
.toggle-button.active::before {
  /* Rotate the triangle 90 degrees to point down */
  transform: translateY(-50%) rotate(90deg);
}

#topButton{
  position:fixed;
  bottom:10px;
  right:10px;
  z-index:99;
  padding: 8px 16px;
}
/*
#region: single colors
*/
#biomInfoGroup1{
  background-color:#dcdcdc
}
#biomInfoGroup2{
  background-color:#b0c3cd
}
#biomInfoGroup3{
  background-color:#b6cdb0
}
#biomInfoGroup4{
  background-color:#cdc1b0
}
#biomInfoGroup5{
  background-color:#cdb0b0
}
.Normal{
  background-color: #DDDDDD;
}
.Kampf{
  background-color: #F7D3DA;
}
.Flug{
  background-color: #E6EDFA;
}
.Gift{
  background-color: #DFB9E9;
}
.Boden{
  background-color: #E4C1AF;
}
.Gestein{
  background-color: #E1D9BE;
}
.Käfer{
  background-color: #DCEDB2;
}
.Geist{
  background-color: #C9CEE8;
}
.Stahl{
  background-color: #CDE0E5;
}
.Feuer{
  background-color: #FDD5AB;
}
.Wasser{
  background-color: #ADD0F0;
}
.Pflanze{
  background-color: #CAE4B5;
}
.Elektro{
  background-color: #FAEFB5;
}
.Psycho{
  background-color: #FEC0E1;
}
.Eis{
  background-color: #D1EFEB;
}
.Drache{
  background-color: #98C9FB;
}
.Unlicht{
  background-color: #BBBAC1;
}
.Fee{
  background-color: #F6D6FA;
}
